node_modules/
*/node_modules/
.npm
.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist/
*/dist/
build/
*/build/
dist-ssr
*.tsbuildinfo

.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

logs
*.log

.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

.coverage
.coverage/
.nyc_output

.cache/
.parcel-cache/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

.helm
.elasticbeanstalk/
.terraform/

package-lock.json
*/package-lock.json
yarn.lock
*/yarn.lock
pnpm-lock.yaml
*/pnpm-lock.yaml