@import "./base/reset.css";
@import "./base/variables.css";
@import "./base/typography.css"; 

/* Layout Styles */
@import "./layout/appLayout.css";
@import "./layout/header.css";

/* Auth Components */
@import "./components/auth/authForms.css";

/* Common Components */
@import "./components/common/confirmModal.css";
@import "./components/common/fullScreenLoader.css";
@import "./components/common/loadingScroll.css";
@import "./components/common/toast.css";
@import "./components/common/tagInput.css";
@import "./components/common/loadingSpinner.css";

/* Task Components */
@import "./components/tasks/taskLists.css";
@import "./components/tasks/taskItem.css";
@import "./components/tasks/taskModal/base.css";
@import "./components/tasks/taskModal/form.css";
@import "./components/tasks/taskModal/priority.css";
@import "./components/tasks/taskModal/tagsInput.css";
@import "./components/tasks/taskModal/buttons.css";
@import "./components/tasks/taskModal/responsive.css";
@import "./components/tasks/sidebar.css";
@import "./components/tasks/contentHeader.css";

/* User Components */
@import "./components/user/userModal/base.css";
@import "./components/user/userModal/tabs.css";
@import "./components/user/userModal/sessions.css";
@import "./components/user/userModal/forms.css";
@import "./components/user/userModal/buttons.css";
@import "./components/user/userModal/delete.css";
@import "./components/user/userModal/responsive.css";

/* Utility Styles */
@import "./utils/responsive.css";
@import "./utils/utilsClasses.css";