body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.estadisticas {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  gap: 10px;
}

.estadistica-item {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 80px;
}

.estadistica-item p {
  margin: 0;
  padding-top: 10px;
}

.estadistica-item p:last-child {
  font-weight: bold;
  font-size: 1.5em;
}

.estadisticasCompletadas {
  box-shadow: 0 2px 5px rgba(3, 120, 175, 0.801);
}

.estadisticasPendientes {
  box-shadow: 0 2px 5px rgba(231, 38, 4, 0.952);
}

.container {
  background-color: #fff;
  padding: 20px;
  width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}
.containerPrincipal{
  width: 750px;
}
.infoUsuario {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.infoUsuario a {
  text-decoration: none;
  color: #007bff;
  font-size: 13px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.containerTarea {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  gap: 15px;
}

.inputsTarea {
  flex-grow: 1;
}

.tituloTarea,
.descripcionTarea,
.etiquetasTarea,
input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 10px;
}

.descripcionTarea {
  resize: vertical;
}

/*----------------------------------------------------Campo de etiquetas------------------------------------------------------------*/
/* Contenedor del campo de etiquetas */
#contenedorInputEtiquetas {
  position: relative;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column; /*Cambie a columna para permitir el scroll */
}

/* Lista de etiquetas seleccionadas */
.ulEtiquetas {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 100px; /* Limitar la altura máxima para las etiquetas */
  overflow-y: auto;
}

.ulEtiquetas li {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  margin: 3px;
  border-radius: 3px;
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px; /* Limitar el ancho de las etiquetas */
}

/* Estilo del campo de entrada de etiquetas */
#contenedorInput {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 1em;
  margin: 3px;
}

/* Estilos para la lista desplegable de sugerencias */
#consultadas {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

#consultadas li {
  padding: 10px;
  cursor: pointer;
}

#consultadas li:hover {
  background-color: #f0f0f0;
}

#consultadas.active {
  display: block;
}

.btnEliminarEtiqueta{
  position: relative;
  top:-6px;
  left:4px;
  padding: 0px;
  cursor: pointer;
  color: rgba(100, 15, 4, 0.979);
  font-weight: bold;
  font-size: 17px;
}



.campoPrioridad {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.botonesModal {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.agregarModal,
.cancelarModal {
  width: 48%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.agregarModal:hover,
.cancelarModal:hover {
  background-color: #0056b3;
}

.campoPrioridad {
  margin-top: 20px;
  text-align: center;
}

.prioridadSelector {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.prioridadOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.prioridadOption input[type="radio"] {
  display: none;
}

.prioridadLabel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid #ddd;
  background-color: #f8f9fa;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #333;
  font-size: 16px;
  transition: background-color 0.3s, border-color 0.3s;
}

.prioridadOption input[type="radio"]:checked + .prioridadLabel {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

