body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.container_tarea {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  gap: 15px;
}

.inputs_tarea {
  flex-grow: 1;
}

.titulo_tarea,
.descripcion_tarea,
.etiquetas_tarea,
input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 10px;
}

.descripcion_tarea {
  resize: vertical;
}

.campo_etiquetas,
.campo_prioridad {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.botonesModal {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.agregarModal,
.cancelarModal {
  width: 48%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.agregarModal:hover,
.cancelarModal:hover {
  background-color: #0056b3;
}

.campo_prioridad {
  margin-top: 20px;
  text-align: center;
}

.prioridad_selector {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.prioridad_option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.prioridad_option input[type="radio"] {
  display: none;
}

.prioridad_label {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid #ddd;
  background-color: #f8f9fa;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #333;
  font-size: 16px;
  transition: background-color 0.3s, border-color 0.3s;
}

.prioridad_option input[type="radio"]:checked + .prioridad_label {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}
