

.contendorTarea {
    background-color: #f0f0f0;
    border-radius: 8px;
    border: 2px solid rgb(128, 161, 223);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding:10px;
    height: 200px;
  
  }

  .contendorTarea h3  {
    margin-bottom: 0px; 
  }
  
  .fechaActualidada{
    padding-bottom: 10px;
    font-size: 12px; 
    color: gray; 
    margin: 0;
  }
  
  #listaTareas{
  height:715px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  }
  
  #listaTareas::-webkit-scrollbar {
      display: none; 
    }

.etiquetas{
    height:35px;
}
.scrollEtiqueta{
   
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.prioridad-barra {
    height: 20px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
  }
  
  .prioridad-numero {
    position: absolute;
    right: 5px;
    top: 2px;
    color: white;
    font-weight: bold;
  }


  .prioridad-container {
    margin-top: 5px; 
  }
  
  .prioridad-text {
    color: black; 
    margin-bottom: 2px; 
  }