#listaTareas {
  height: 715px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.contendorTarea {
  height: 180px;
  width: 330px;
  background-color: #f0f0f0;
  border-radius: 8px;
  font-size: 14px;
  border: 2px solid rgb(128, 161, 223);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
}

.contendorTarea h3 {
  margin-bottom: 0px;
  padding: 0px;
  font-size: 17px;
}

.fechaActualidada {
  padding-bottom: 10px;
  font-size: 12px;
  color: gray;
  margin: 0;
}

#listaTareas::-webkit-scrollbar {
  display: none;
}

.etiquetas {
  height: 30px;
}
.scrollEtiqueta {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.prioridad-barra {
  height: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  position: relative;
}

.prioridad-numero {
  position: absolute;
  right: 5px;
  top: 2px;
  color: white;
  font-weight: bold;
}

.prioridad-container {
  align-items: center;
  margin-top: 5px;
}

.prioridad-text {
  color: black;
  margin: 0px;
}

.textoTarea {
  margin-top: 0;
}
